* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}
header {
    padding: 2px;
    margin: 10px;
}

h1 {
    padding: 2px;
}
h2 {
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

li {
    display: inline-block;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%;
}